mat-toolbar{
    border-bottom: 1px solid var(--primary);
}

.logo{
    width: 130px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--primary);
    img{
        width: 100%;
    }
    p{
        line-height: 1;
        text-wrap: wrap;
        padding: 0px;
        margin: 0px;
        font-size: 16px;
    }

}

.logo :hover{
    cursor: pointer;
}

@media (max-width: 768px){
    .logo{
        width: 30%;
        p{
            line-height: 1;
            text-wrap: wrap;
            padding: 0px;
            font-size: 12px;
        }
    }
}