<header>
<mat-toolbar class="d-flex justify-content-between align-items-center w-100 m-0">
    <div class="logo" routerLink="/">
        <span>EBG HUB - Música eletrônica cristã</span>
    </div>
    <nav class="d-flex align-items-center">
        @if(userStore.currentState(); as user){
              <mat-chip routerLink="posts/publicar" class="mx-3">
                + NOVO POST
              </mat-chip>

            <mat-chip [matMenuTriggerFor]="menu">
              @if(user.photoURL){
                <img
                  matChipAvatar
                  [src]="user.photoURL"
                  [alt]="'Photo perfil ' + user.displayName"
                />
              }@else{
                <mat-icon>person</mat-icon>
              }
                <mat-icon style="padding-top: 2px;">menu</mat-icon>
              </mat-chip>
        }@else{
            <a mat-button routerLink="/login-cadastro" href="javascript:void(0)">Login | Cadastrar</a>
        }
    </nav>
  </mat-toolbar>
</header>


  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/perfil">
      <mat-icon>person</mat-icon>
      <span>Perfil</span>
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>

 