app-cadastro{
  padding: 120px;
}

.header{
    margin: 5px 0px;
    background-color: #1a2b2b;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    h2{
        padding: 0px;
        margin: 0px;
        font-size: 1.7rem;
    }
}

.preview{
    height: 50px;
    width: 100%;
    height: 100%;
    border: 1px solid #384d4d;
    border-radius: 10px;
    .wave{
        height: 100%;
    }
}

.box-body{
    margin-top: 10px;
    background-color: rgba(37, 34, 34, 0.527);
    border-radius: 10px;
    padding: 20px;
    .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 20px;
        border-right: 1px solid var(--medium);
        .avatar{
            margin-bottom: 10px;
            img{
                width: 50px;
                height: 50px;
                border-radius: 10px;
            }
            .mat-icon{
                width: 100%;
                height: 50px;
                font-size: 50px;
                color: rgb(119, 119, 119);
            }

        }

    }
    .description{
        padding: 20px;
    }
    .source{
      background-color: #a53c0017;
      margin: 10px 0px;
      padding: 20px;
      border-radius: 15px;
      position: relative;

    }

    .source-blur{
      backdrop-filter: blur(8px);
      p{
        filter: blur(5px);
      }
    }
    .date{
        margin-top: 5px;
        border-top: 1px dashed rgb(56, 77, 77);
        text-align: center;
        min-width: 60%;
        font-size: 12px;
        color: #383838;
    }

}

quill-editor{
    width: 100% !important;
    color: #0a0a0a
}




.button-reply{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    // padding: 30px;
    // background-color: #004242;
}




.btn-send{
    border-radius: 10px;
}

.btn-save{
    background-color: var(--success);
}