.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-card{
    border-color: var(--tertiary) ;
  }


  li{
    border-bottom: 1px solid var(--medium);
    margin-bottom: 10px;

    .box{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .chips{
            display: flex;
            align-items: center;
        }

        .custom-chip{
            margin: 0px 3px;
            min-width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            // border: 1px solid #fff;
            border-radius: 5px;
            font-size: 14px;
            
            // padding: 5px;
        }
    }

  }
  .title-box{
    margin: 0px;
    .title{
        font-size: 22px;
        text-decoration: none;
        color: var(--primary-contrast);
    }

    .sub{
        font-size: 12px;
        color: var(--medium)
    }
  }

.block{
    // border: 1px solid red;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0px;
}
.post-box{
    width: 100%;
    display: flex;
    align-items: center;

    margin-bottom: 0px;
    .btn-box{
        width: 100px;
        .up{
            padding: 0px;
            width: 50px;
            height: 65px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            border-color: var(--tertiary);
        }

    }
    .title-box{
        display: block;
        width: 100%;
        .title{
            font-size: 22px;
            text-decoration: none;
            color: var(--primary-contrast);
        }

        .sub{
            font-size: 12px;
            color: var(--medium)
        }
    }
    
    
}

.col-custom{
    border-bottom: 1px solid var(--tertiary);
    padding: 20px;
}

.col-custom:hover{
    background-color: rgba(226, 226, 226, 0.021);
}