@if(metadata.loadingPost()){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}@else {
    <h5>Publicações</h5>
    <section class="row m-0">
        @for (post of postStore.currentState(); track $index) {
            <div class="col-12 col-custom m-0" >
                <div class="post-box">
                    <div class="btn-box">
                        <button class="up" mat-stroked-button>
                            <mat-icon class="m-0 p-0" aria-hidden="false" aria-label="up" fontIcon="keyboard_arrow_up">
                            </mat-icon>
                            <span>15</span>
                          </button>
                    </div>
                    <div class="title-box">
                        <a class="title" [routerLink]="['posts', post.slug]" rel="noopener noreferrer">{{post.title | titlecase}}</a>
                        <p class="sub">{{post.owner_username}} . 1 dia atrás . 4 comentários . vinil </p>
                    </div>
    
                </div>
            </div>
        }
    </section>
}