
@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.dialog-overrides((
    container-color: orange,
    subhead-color: red,
  ));
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100vh;
  background-color: #333333;
  color: #fff;
  padding: 20px;
  img{
    width: 100%;
  }
  h2 {
    margin-left: 15px;
  }

}






.content {
  margin-left: 180px; /* mesma largura do side nav */
  padding: 20px;
  width: calc(100% - 180px);
}


@media (max-width: 768px){
.side-nav{
  display: none;
}

.content {
  margin-left: 0px;
  width: 100%;
}

}
