@if(this.userStore.currentState(); as user){
  <form (ngSubmit)="save()" [formGroup]="form">
    <div class="row">
      <div class="col-md-3 box-body">
        <div class="avatar">
          @if(isEditImg()){
            @if(isPlatformBrowser(this.platformId)){
              <div class="d-flex flex-column">
                <image-cropper
                  class="w-100"
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="1 / 1"
                  format="jpeg"
                  [resizeToWidth]="300"
                  [resizeToHeight]="300"
                  [output]="'base64'"
                  [imageQuality]="80"
                  (imageCropped)="imageCropped($event)"
                ></image-cropper>
                <button (click)="cancelImg()" class="w-100 my-2" type="button" mat-button>Cancelar</button>
                <button (click)="saveImg()" class="w-100" type="button" mat-stroked-button color="primary">Salvar</button>
              </div>
            }
          }@else{
            @if(ctrlPhotoUrl.value; as photo){
              <img [src]="photo" alt="photo url" (click)="file.click()">
              }@else{
              <mat-icon (click)="file.click()">
                  account_circle
              </mat-icon>
      }
          }


          <input #file type="file" (change)="fileChangeEvent($event)" style="display: none;" accept="image/*"/>
        </div>
      </div>
      <div class="col-md-9">
        <div class="box-body">
          <h4>Dados do seu perfil</h4>
          <mat-form-field appearance="outline" class="my-3 w-50">
            <mat-label>Como gostaria de ser chamado(Nome)</mat-label>
            <input formControlName="displayName" matInput />
            <mat-hint>*Requerido min. de 5 caracteres</mat-hint>
          </mat-form-field>
          <br />

          <mat-form-field appearance="outline">
            <mat-label>Estado(UF)</mat-label>
            <mat-select formControlName="end_uf">
              @for (item of ufsBR; track $index) {
              <mat-option [value]="item.uf">{{ item.nome }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="w-100">
            <button
            type="submit"
            class="btn-save"
            [ngClass]="{'disabled': form.invalid || !form.touched}"
            mat-flat-button
            [disabled]="form.invalid || !form.touched"
          >
            Salvar
          </button>

          </div>
        </div>
      </div>

      @if(metadataStore.loadingUser()){
        <div class="w-100 my-3">
          <p class="text-center">Aguarde estamos processando. Não feche até finalizar!</p>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      }
    </div>
  </form>


  <div class="row my-3 box-body">
    <div class="col-12">

      <h5>Este projeto é gratuito, mas sua continuidade depende do apoio de pessoas como você. </h5>
      <p>Faça uma doação e nos ajude a manter este trabalho vivo e acessível a todos!</p>



      <div class="row">

        @for(plan of pricesPlans; track $index){
          <div class="col-md-4">
            <mat-card [ngClass]="{'current-plan': user?.plan?.plan_type === plan.type}">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>{{plan.title}}</mat-card-title>
                  <mat-card-subtitle >
                    <p class="amount">{{(plan.amount) | currency: 'BRL' : 'symbol'}}</p>
                  </mat-card-subtitle>
                  <!-- <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" > -->
                </mat-card-title-group>
              </mat-card-header>
              <mat-card-content>
                <p class="description">{{plan.description}}</p>
              </mat-card-content>

              <mat-card-actions>
                <button (click)="checkout(plan.type)"  mat-flat-button color="accent" class="w-100 my-3" >Selecionar essa doação</button>
              </mat-card-actions>
            </mat-card>
          </div>
        }


      </div>
    </div>
  </div>

  <div class="row box-body">
    <div class="col-12 text-center ">
      <p><em>*A doação é realizado no modelo pré-pago. Todas as transações são processadas com segurança pela plataforma Mercado Pago.</em></p>
      <p><em>Saiba mais sobre o motivo da contribuição acessando nossa</em> <a mat-button href="#" routerLink="/politica-de-privacidade-e-termos-de-uso">Politica de privacidade e Termos de Serviço.</a> </p>

    </div>
  </div>
}@else{

  @if(metadataStore.errorUser().error){
    <p class="text-center">{{metadataStore.errorUser().message}}</p>
  }@else{
    <p class="text-center">Aguarde carregando...</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }

}

