@if(show()){
    <div class="banner-container" style="background-image: url('banner-egbhub.jpg'); background-size: cover;  background-position: center;">
        <div class="overlay"></div>
        <h1 class="title">O EGB Hub é o ponto de encontro para DJs, produtores e amantes da música eletrônica cristã.</h1>
    </div>
    <div class="info-container">
        <p>Aqui, reunimos talentos, ideias e inspiração para fortalecer a cena musical que glorifica a Deus por meio de batidas e harmonias eletrônicas.</p>
    </div>
}
