<ul>
    <li>
        <section class="box">
            <div class="side">
                <div class="btn-box">
                    <button  mat-icon-button>
                        <mat-icon class="m-0 p-0" aria-hidden="false" aria-label="up" fontIcon="keyboard_arrow_up">
                        </mat-icon>
                        
                    </button>
                    <span class="count">15</span>
                    <button mat-icon-button>
                        <mat-icon class="m-0 p-0" aria-hidden="false" aria-label="down" fontIcon="keyboard_arrow_down">
                        </mat-icon>
                        
                    </button>
                </div>
                <div class="line"></div>
            </div>
            <div class="post-box">
                <div class="w-100">
                    <span class="author">por {{post.owner_username | titlecase}}</span>
                </div>
                <div class="description" [innerHTML]="post.body">
                </div>

                @if(inEdition()){
                    <div class="edition">
                      <form [formGroup]="form" (ngSubmit)="save()">
                        @if(metadataStore.loadingPost()){
                          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        }@else {
                          <quill-editor
                          [theme]="'snow'"
                          formControlName="body"
                          [styles]="{ height: '300px', background: '#010907'}"/>
                          <div class="w-100 d-flex justify-content-end">
                            <button (click)="inEdition.set(false)" mat-button>Cancelar</button>
                            <button type="submit" class="btn-save" mat-flat-button [disabled]="form.invalid" >Publicar</button>
                          </div>
                        }
                      </form>
                    </div>
          
                  }@else {
                    <div class="editor">
                      <button (click)="inEdition.set(true)" class="btn-send" mat-stroked-button>Responder</button>
                  </div>
                  }


                @if (post.children && post.children.length) {
                    @for (child of post.children; track $index) {
                        <app-post-child [post]="child" />
                    }
                }

            </div>
            
        </section>
        

    </li>

</ul>