// mat-dialog-content{
//     min-width: 700px;
// }

.container-preview{
    width: 100%;
    min-height: 100px;
    border: 1px solid #383351;
    color: #383351;
}
.playPause{
    margin-top: 5px;
    background: '#35e001';
    border-radius: 50%;
    
}