

<section>
  <div class="list-box">
    <div class="controls">
      <app-search />
      <mat-paginator
        [length]="postStore.select.recordTotal()"
        [pageSize]="25"
        [showFirstLastButtons]="false"
        (page)="handlePageEvent($event)"
        >
      </mat-paginator>

    </div>

    @for(post of posts; track $index){
    <div class="item">
      <div class="thumbnail">

        <mat-icon>
          forum
        </mat-icon>
        {{post?.metadata?.child_count || 0}}
      </div>
      <div class="label">
        <a
          (click)="selectPost(post); "
          href="javascript:void(0)"
          class="title"
          rel="noopener noreferrer"
        >
          {{ post.title | titlecase }}
        </a>
        <div>
          <span class="autor">{{ post?.owner_username }} </span>
          <!-- <a class="type" href="">{{ post?.type_stage }}</a> -->
        </div>
      </div>
    </div>

    }
  </div>
  <!-- <div class="post-box">
    @if(postStore.select.current(); as post){
    <h2>{{ post.title }}</h2>
    @if(musicPreview()){
    <app-preview [musicPreview]="musicPreview" />
    }
    @for(tag of post?.tags; track $index){
    <span class="tag">{{ tag }}</span>
    }
    <div class="description" [innerHTML]="post.body"></div>

    <div class="chat-container">
      @if (post.children && post.children.length) { @for (child of
      post.children; track $index) {
      <div class="message-wrapper">
        <div class="box left">
          <div class="user-info">
            @if(post.user?.photoURL; as photo){
            <img [src]="child?.user?.photoURL" alt="photo url" />

            }@else{
            <mat-icon> account_circle </mat-icon>
            }
            <span>{{ child?.owner_username }}</span>
          </div>
          <div class="body" [innerHTML]="child?.body"></div>
        </div>
      </div>
      } }
    </div>

    <app-comment-editor [post]="post" />
    }
  </div> -->
</section>

