

<div class="logo-box">
  <img src="logo-egbhub-green-white.png" alt="logo marca eghub fórum de musica eletrônica cristã do Brasil">
</div>
<section>
  <div class="list-box">
    <div class="controls">
      <app-search />
      <mat-paginator
        [length]="postStore.select.recordTotal()"
        [pageSize]="25"
        [showFirstLastButtons]="false"
        (page)="handlePageEvent($event)"
        >
      </mat-paginator>
    </div>


    @for(post of posts; track $index){
    <div class="item">
      <div class="thumbnail">

        <mat-icon>
          forum
        </mat-icon>
        {{post?.metadata?.child_count || 0}}
      </div>
      <div class="label">
        <a
          (click)="selectPost(post); "
          href="javascript:void(0)"
          class="title"
          rel="noopener noreferrer"
        >
          {{ post.title | titlecase }}
        </a>
        <div>
          <span class="autor">{{ post?.owner_username }} </span>
        </div>
      </div>
    </div>

    }
  </div>
</section>

