/* You can add global styles to this file, and also import other style files */
@import 'variables.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
*{
    color: var(--primary-contrast);
}



.ql-editor {
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte do texto */
    font-size: 16px;
  }
  
  .ql-toolbar {
    // background-color: #022128; /* Cor de fundo da barra de ferramentas */
    border-color: #55d7b0; /* Cor da borda da barra de ferramentas */
  }
  
  .ql-toolbar .ql-picker.ql-header .ql-picker-options {
    background-color: #333; /* Fundo preto do dropdown */
    color: white; /* Texto branco */
    border: 1px solid #555; /* Borda para diferenciar o dropdown */
  }
  
  .ql-toolbar .ql-picker.ql-header .ql-picker-item {
    color: white; /* Texto branco das opções */
  }
  
  .ql-toolbar .ql-picker.ql-header .ql-picker-item:hover,
  .ql-toolbar .ql-picker.ql-header .ql-picker-item.ql-selected {
    background-color: #333; /* Fundo mais escuro ao passar o mouse ou selecionar */
  }

  .default-snackbar{
    background: var(--tertiary-contrast) !important;
    .mat-mdc-snackbar-surface{
      background: var(--tertiary-contrast) !important;
      .mat-mdc-simple-snack-bar{
        background: var(--tertiary-contrast) !important;

      }
    }
  }

  .row{
    margin: 0px;
  }

  .btn-save{
    background-color: var(--success) !important;
  }
  .btn-save-disabled{
    background-color: var(--medium) !important;
  }

  .disabled{
    background-color: #555 !important;
  }


  .ql-editor .ql-blank::before {
    color: #55d7b0;  /* Cor do placeholder */
    font-style: italic;  /* Placeholder em itálico */
    font-size: 16px;  /* Tamanho da fonte do placeholder */
  }

  .ql-tooltip{
    input[type="text"] {
      background-color: #e0f7fa; /* Cor de fundo do campo de entrada */
      color: #acacac; /* Cor do texto */
      border: 1px solid #55d7b0; /* Borda personalizada */
      padding: 5px;
      border-radius: 4px;
    }
  }

  .tag{
    font-size: 10px;
    color: var(--medium);
    margin-right: 5px;
  }

  .link:hover{
    cursor: pointer;
    opacity: 0.8;

  }


  .btn-action{
    background-color: red !important;
    padding: 3px !important;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0px;
  padding: 20px;
  background-color: rgba(37, 34, 34, 0.527);
  border-radius: 10px;
  // border: 1px solid rgb(204, 204, 204);
  .header {
    width: 100%;
    min-height: 150px;

    display: flex;
    align-items: baseline;
    .title-container {
      h2,
      p {
        padding: 0px;
        margin: 0px;
      }
      p {
        color: var(--medium);
      }
    }
    .thumbnail {
      width: 150px;
      height: 100px;
      margin-right: 10px;
      border-radius: 10px;
      .badge {
        width: 100%;
      }
      img {
        width: 150px;
        height: 100px;
        overflow: hidden;
        border-radius: 10px;
      }
    }
  }

  .list {
    // border: 0.5px solid var(--medium);
    width: 100%;
    ol {
      li {
        .item{
            padding: 0px;
            margin: 5px 0px;
            background-color: rgba(37, 34, 34, 0.527);
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .block-info{
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .avatar{
                  margin-right: 10px;
                  img{
                      width: 50px;
                      height: 50px;
                      border-radius: 10px;
                  }
                  .mat-icon{
                      width: 100%;
                      height: 30px;
                      font-size: 30px;
                      color: rgb(119, 119, 119);
                  }
      
              }
                a {
                  text-decoration: none;
                  color: #ffff;
                }
                .author{
                  font-size: 10px;
                  color: rgb(190, 190, 190);
                  padding: 0px;
                  margin: 0px;
                }
                .coment {
                  margin-left: auto;
                }
            }
            .block-preview{
              width: 100%;
            }
    

        }

      }
    }
  }
}


@media (max-width: 768px){
  *{
    font-size: 14px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0px;
    padding: 20px;
    background-color: rgba(37, 34, 34, 0.527);
    border-radius: 10px;
    // border: 1px solid rgb(204, 204, 204);
    .header {
      width: 100%;
      min-height: 150px;
  
      display: flex;
      align-items: start !important;
      .title-container {
        h2,
        p {
          padding: 0px;
          margin: 0px;
        }
        p {
          color: var(--medium);
          font-size: 12px;
        }
        h2{
          font-size: 22px;
        }
      }
      .thumbnail {
        width: 130px;
        height: 100px;
        margin-right: 10px;
        border-radius: 10px;
        .badge {
          width: 100%;
        }
        img {
          width: 130px;
          height: 100px;
          overflow: hidden;
          border-radius: 10px;
        }
      }
    }
  
    .list {
      // border: 0.5px solid var(--medium);
      width: 100%;
      ol {
        li {
          .item{
              padding: 0px;
              margin: 5px 0px;
              background-color: rgba(37, 34, 34, 0.527);
              border-radius: 10px;
              padding: 15px;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
      
              .avatar{
                  margin-right: 10px;
                  img{
                      width: 50px;
                      height: 50px;
                      border-radius: 10px;
                  }
                  .mat-icon{
                      width: 100%;
                      height: 50px;
                      font-size: 50px;
                      color: rgb(119, 119, 119);
                  }
      
              }
                a {
                  text-decoration: none;
                  color: #ffff;
                }
                .coment {
                  margin-left: auto;
                }
  
          }
  
        }
      }
    }
  }
}

