:root {
	--primary: #1A4F4F;
	--primary-rgb: 26,79,79;
	--primary-contrast: #ffffff;
	--primary-contrast-rgb: 255,255,255;
	--primary-shade: #174646;
	--primary-tint: #316161;

	--secondary: #197676;
	--secondary-rgb: 25,118,118;
	--secondary-contrast: #ffffff;
	--secondary-contrast-rgb: 255,255,255;
	--secondary-shade: #166868;
	--secondary-tint: #308484;

	--tertiary: #02c5c5;
	--tertiary-rgb: 2,197,197;
	--tertiary-contrast: #000000;
	--tertiary-contrast-rgb: 0,0,0;
	--tertiary-shade: #02adad;
	--tertiary-tint: #1bcbcb;

	--success: #02bb33;
	--success-rgb: 2,187,51;
	--success-contrast: #000000;
	--success-contrast-rgb: 0,0,0;
	--success-shade: #02a52d;
	--success-tint: #1bc247;

	--warning: #ffc409;
	--warning-rgb: 255,196,9;
	--warning-contrast: #000000;
	--warning-contrast-rgb: 0,0,0;
	--warning-shade: #e0ac08;
	--warning-tint: #ffca22;

	--danger: #c5000f;
	--danger-rgb: 197,0,15;
	--danger-contrast: #ffffff;
	--danger-contrast-rgb: 255,255,255;
	--danger-shade: #ad000d;
	--danger-tint: #cb1a27;

	--light: #f6f8fc;
	--light-rgb: 246,248,252;
	--light-contrast: #000000;
	--light-contrast-rgb: 0,0,0;
	--light-shade: #d8dade;
	--light-tint: #f7f9fc;

	--medium: #5f5f5f;
	--medium-rgb: 95,95,95;
	--medium-contrast: #ffffff;
	--medium-contrast-rgb: 255,255,255;
	--medium-shade: #545454;
	--medium-tint: #6f6f6f;

	--dark: #101414;
	--dark-rgb: 16,20,20;
	--dark-contrast: #ffffff;
	--dark-contrast-rgb: 255,255,255;
	--dark-shade: #0e1212;
	--dark-tint: #282c2c;

}