
<div  class="row m-0 justify-content-center">
  <div class="col-sm-8">
      <p>Junte-se à comunidade EGB HUB, o ponto de encontro para todos os apaixonados por música eletrônica cristã! Conecte-se, compartilhe e celebre o som que eleva. 🎶✝️</p>
      <mat-card appearance="outlined" [formGroup]="form"> 
          <mat-card-header>
            <mat-card-title> Cadastro / Login</mat-card-title>
            <mat-card-subtitle>*Por motivo de segurança, utilize sua conta google para prosseguir.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="d-flex flex-column justify-content-center">
            <mat-checkbox formControlName="check" class="w-100 text-center mt-3">Li e estou de acordo com a <a color="accent" href="#" routerLink="/politica-de-privacidade-e-termos-de-uso" mat-button>Politica de Privacidade e Termos de Uso</a> </mat-checkbox>
              <button (click)="signInGoogleProvider()" [disabled]="form.invalid || !ctrlCheck.value" class="w-100 my-5" mat-flat-button>PROSSEGUIR COM EMAIL DO GOOGLE</button>
          </mat-card-content>
        </mat-card>

  </div>
</div>