
<div class="row">
    <div class="col-12 p-5">
        <h1>Política de Uso e Privacidade - EGBHUB</h1>
        <p><strong>CNPJ:</strong> 48.541.243/0001-63</p>
        
        <section>
            <h2>1. Introdução</h2>
            <p>Bem-vindo ao EGBHUB, um fórum dedicado à divulgação de música eletrônica cristã. O EGBHUB é um espaço aberto para troca de ideias, músicas, e conteúdos relacionados à música eletrônica cristã, com o objetivo de fomentar um ambiente positivo, respeitoso e colaborativo.</p>
        </section>
        
        <section>
            <h2>2. Responsabilidade do Usuário</h2>
            <p>Os usuários do EGBHUB são responsáveis pelo conteúdo que publicam, incluindo textos, músicas, vídeos, imagens e links. Ao utilizar o fórum, o usuário se responsabiliza pelos conteúdos que publicou na plataforma, incluindo declara possuir os direitos de uso do que for publicado ou está enquadrado dentro do "Fair Use" ("Limitação aos direitos de Autor" encontrado na LDA).</p>
        </section>
        
        <section>
            <h2>3. Direitos Autorais</h2>
            <p>O EGBHUB se compromete a respeitar os direitos autorais dos criadores de conteúdo. Caso um detentor de direitos autorais solicite a remoção de qualquer conteúdo, seja por meio de aviso formal ou outro processo legal, nos reservamos o direito de remover o conteúdo sem aviso prévio.</p>
            <p>Não hospedamos nenhum conteúdo em nossos servidores. Todo o material disponível no EGBHUB consiste em links disponibilizados na internet.</p>
        </section>
        
        <section>
            <h2>4. Uso do Fórum</h2>
            <p>O EGBHUB é uma plataforma de compartilhamento de música eletrônica cristã, com foco em promover a cultura musical e a comunidade cristã. Qualquer uso fora desse escopo, como a publicação de conteúdos ofensivos, ilegais ou não relacionados ao tema do fórum, é proibido e poderá resultar em ações disciplinares, incluindo a remoção de conteúdo e/ou banimento do usuário.</p>
        </section>
        
        <section>
            <h2>5. Contribuições</h2>
            <p>O EGBHUB conta com uma seção onde os usuários podem contribuir financeiramente para ajudar a manter os custos de operação, como hospedagem e manutenção do fórum. O objetivo dessas contribuições não é obter lucro, mas apenas garantir que o espaço continue acessível para todos os interessados. Agradecemos a sua colaboração!</p>
            <p>Entretanto, informamos que, em caso de encerramento do site por questões judiciais ou de força maior, as contribuições feitas não serão estornadas.</p>
        </section>
        
        <section>
            <h2>6. Privacidade</h2>
            <p>Respeitamos a sua privacidade. Os dados pessoais fornecidos durante o cadastro são utilizados apenas para fins de registro e comunicação dentro do fórum. Não compartilhamos seus dados com terceiros sem o seu consentimento, salvo em casos legais ou quando exigido por autoridades competentes.</p>
        </section>
        
        <section>
            <h2>7. Modificações na Política</h2>
            <p>Esta Política de Uso e Privacidade pode ser atualizada a qualquer momento para atender às necessidades do fórum ou para cumprir alterações legais. Recomendamos que você reveja este documento periodicamente para se manter informado sobre eventuais mudanças.</p>
        </section>

    </div>
</div>