:host{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  min-height: 80vh;

  section{
    width: 100% !important;

  }

  .box-default{
    width: 100%;
    display: flex;

    .posts{
      // border: 0.2px solid rgb(228, 228, 228);
      border-radius: 5px;
      padding: 5px;
      width: 40%;

      .list {
        width: 100%;
        ol {
          font-size: 16px;
          li {
            .item{
                padding: 0px;
                margin: 5px 0px;
                border-radius: 5px;
                border-bottom: 1px solid rgba(238, 238, 238, 0.164);
                // padding: 15px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .block-info{
                  width: 100%;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  .avatar{
                    display: flex;
                    justify-content: center;
                      margin: 10px;
                      img{
                          width: 50px;
                          height: 50px;
                          border-radius: 10px;
                      }
                      .mat-icon{
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          width: 100%;
                          height: auto;
                          font-size: 25px;
                          color: rgb(119, 119, 119);
                      }

                  }
                    a {
                      text-decoration: none;
                      color: #ffff;
                    }
                    .author{
                      font-size: 10px;
                      color: rgb(119, 119, 119);
                      padding: 0px;
                      margin: 0px;
                    }
                    .coment {
                      margin-left: auto;
                    }
                }
                .block-preview{
                  width: 100%;
                }


            }

          }
        }
        ul li::marker,
        ol li::marker {
          font-size: 0.7em; /* ou por exemplo 12px */
          color: rgb(119, 119, 119);
        }
      }

    }
    .feed{
      // border: 1px solid green;
      flex: 1;
      width: 50%;
      border: 1px solid rgba(0, 187, 146, 0.322);
      margin: 0px 0px 0px 5px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;



      .description{
        background-color: #00a56e17;
        margin: 10px 0px;
        padding: 15px;
        border-radius: 15px;
      }




    }
  }

}
.chat-container {
  // border: 1px solid red;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0 auto;
  font-family: Arial, sans-serif;

  .message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .message-wrapper.right {
    align-items: flex-end;
  }



  .box{
    background-color: rgba(6, 54, 126, 0.199);
    padding: 10px 15px;
    border-radius: 16px;
    position: relative;
    height: auto;

    .user-info {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      gap: 8px;
    }


    .user-info img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-info span {
      font-size: 12px;
      font-weight: bold;
    }


    .body {
      position: relative;
      word-wrap: break-word;
      padding: 0px !important;
      margin: 0px !important;
      p{
        padding: 0px !important;
        margin: 0px !important;
      }


    }



  }



  .box.left {
    align-self: flex-start;
    border-bottom-left-radius: 0;

  }

  .box.right {
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }
}

